
        body{
            font-size: 16px;
            font-style: italic;
        }
        h1{
            font-family: sans-serif;
            font-size: 65px;
            color: orange;
        }
        ul{
            background-color: darkblue;
            color: white;

        }
        .tags{
            background-color: black;
            color: white
        }
        p{
            font-weight: 600;
            font-size: 3em;
        }

